---
import Layout from "../../../../layouts/Layout.astro";
import BaseInput from "../../../../components/BaseInput.astro";
import BaseButton from "../../../../components/BaseButton.astro";
import { buildBreadcrumb } from "../../../../glob_vars";
import BreadCrumb from "../../../../components/BreadCrumb.astro";

const api_address = import.meta.env.PUBLIC_API_ADDRESS;
---

<script define:vars={{ api_address }}>
  document.addEventListener("DOMContentLoaded", () => {
    const lengthInput = document.getElementById("length-input");
    const result = document.getElementById("result");
    const resultText = document.getElementById("result-text");
    const copyButton = document.getElementById("copy");
    const errorText = document.getElementById("error-text");

    function generate(length) {
      const characters = [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        "a",
        "b",
        "c",
        "d",
        "e",
        "f",
      ];
      const generated = Array.from(
        {
          length,
        },
        () => {
          const randomIndex = Math.floor(Math.random() * characters.length);
          return characters[randomIndex];
        }
      );

      return generated.join("");
    }

    document.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      const length = lengthInput.value;
      errorText.classList.add("hidden");
      if (length < 1) {
        errorText.textContent = "Length must be greater than 0.";
        errorText.classList.remove("hidden");
        return;
      }
      // generate random id with the length, numbers and letters
      const randomId = generate(length);
      resultText.textContent = randomId;
      result.classList.remove("hidden");

      fetch(`${api_address}/tools/inc`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          tool: "random-id-generator",
        }),
      });
    });

    copyButton.addEventListener("click", () => {
      const el = document.createElement("textarea");
      el.value = resultText.textContent;
      document.body.appendChild(el);
      el.select();
      document.execCommand("copy");
      document.body.removeChild(el);

      copyButton.querySelector("span").textContent = "Copied!";
      setTimeout(() => {
        copyButton.querySelector("span").textContent = "Copy";
      }, 2500);
    });
  });
</script>

<title>Random ID Generator - Tim's Tools</title>
<meta
  name="description"
  content="The Random ID Generator creates unique, random IDs for the length you specify. Generate random IDs to use them as unique identifiers."
/>
<meta name="og:title" content="Random ID Generator - Tim's Tools" />
<meta
  name="og:description"
  content="The Random ID Generator creates unique, random IDs for the length you specify. Generate random IDs to use them as unique identifiers."
/>
<Layout current="/tools">
  <div class="mt-20 mb-16 max-w-4xl mx-auto px-6">
    <BreadCrumb urls={buildBreadcrumb("coding", "generator")} />
    <div class="text-center mb-10 mt-4">
      <h1 class="text-5xl font-bold mb-4">Random ID Generator</h1>
      <p class="text-lg md:w-2/3 mx-auto">Generate a unique and random ID.</p>
    </div>

    <form>
      <label for="length-input" class="text-xl font-bold">Length</label>
      <div class="mt-4 mb-8">
        <BaseInput
          id="length-input"
          type="number"
          placeholder="Enter the length of the ID"
          fullWidth
        />
      </div>
      <p id="error-text" class="text-red-500 font-bold hidden mb-8"></p>
      <BaseButton text="Generate" fullWidth />
    </form>

    <div id="result" class="mt-10 hidden">
      <h2 class="font-bold text-2xl mb-2">Result</h2>
      <p id="result-text" class="mb-4 text-center font-bold text-xl"></p>
      <BaseButton id="copy" text="Copy" fullWidth />
    </div>
  </div>
</Layout>
