---
import Layout from "../../layouts/Layout.astro";
import { tool_categories } from "../../glob_vars";
import ToolCategory from "../../components/ToolCategory.astro";
---

<title>Tim's Tools</title>
<meta
  name="description"
  content="Tim's Tools is a collection of tools my friends and me found helpful while developing applications. All tools are free to use."
/>
<meta name="og:title" content="Tim's Tools" />
<meta
  name="og:description"
  content="Tim's Tools is a collection of tools my friends and me found helpful while developing applications. All tools are free to use."
/>
<Layout current="/tools">
  <section class="mt-20 max-w-4xl mx-auto px-6">
    <h1 class="font-bold text-4xl text-center mb-4">Browse categories</h1>
  </section>
  <section
    class="mt-10 mb-16 max-w-4xl mx-auto px-6 grid sm:grid-cols-2 md:grid-cols-3 grid-rows-1 gap-4"
  >
    {
      tool_categories.map((category) => (
        <ToolCategory
          name={category.name}
          url={`/tools/${category.slug}`}
          icon={category.slug}
        />
      ))
    }
  </section>
</Layout>
