---
import Layout from "../../../../layouts/Layout.astro";
import BaseInput from "../../../../components/BaseInput.astro";
import BaseButton from "../../../../components/BaseButton.astro";
import { buildBreadcrumb } from "../../../../glob_vars";
import BreadCrumb from "../../../../components/BreadCrumb.astro";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const urlInput = document.getElementById(
      "url-input"
    ) as HTMLInputElement | null;
    const result = document.getElementById("result");
    const resultText = document.getElementById("result-text");
    const copyButton = document.getElementById("copy");

    if (!urlInput || !result || !resultText || !copyButton) return;

    function encodeURL(url: string) {
      const encodedURL = encodeURIComponent(url);
      resultText!.textContent = encodedURL;
      result!.classList.remove("hidden");
    }

    copyButton.addEventListener("click", () => {
      const el = document.createElement("textarea");
      el.value = resultText.textContent ?? "";
      document.body.appendChild(el);
      el.select();
      document.execCommand("copy");
      document.body.removeChild(el);

      const copyButtonSpan = copyButton.querySelector("span");
      if (!copyButtonSpan) return;
      copyButtonSpan.textContent = "Copied!";
      setTimeout(() => {
        copyButtonSpan.textContent = "Copy";
      }, 2500);
    });

    urlInput.addEventListener("input", () => {
      const value = urlInput ? urlInput.value : "";
      if (!value) {
        result.classList.add("hidden");
      } else {
        encodeURL(value);
      }
    });
  });
</script>

<title>URL Encoder Online - Tim's Tools</title>
<meta
  name="description"
  content="Encode any URL to make it useable for web browsers. This tool will encode any special characters in the URL."
/>
<meta name="og:title" content="URL Encoder Online - Tim's Tools" />
<meta
  name="og:description"
  content="Encode any URL to make it useable for web browsers. This tool will encode any special characters in the URL."
/>
<Layout current="/tools">
  <div class="mt-20 mb-16 max-w-4xl mx-auto px-6">
    <BreadCrumb urls={buildBreadcrumb("web", "technical")} />
    <div class="text-center mb-10 mt-4">
      <h1 class="text-5xl font-bold mb-4">URL Encoder</h1>
      <p class="text-lg md:w-2/3 mx-auto">Encode a URL</p>
    </div>

    <form>
      <label for="length-input" class="text-xl font-bold">URL</label>
      <div class="mt-4 mb-2">
        <BaseInput
          id="url-input"
          type="text"
          placeholder="Enter the URL"
          fullWidth
        />
      </div>
      <p class="opacity-60 text-sm">
        The result will show up automatically as soon as you start to enter
        something
      </p>
    </form>

    <div id="result" class="mt-10 hidden">
      <h2 class="font-bold text-2xl mb-2">Result</h2>
      <p id="result-text" class="mb-4 text-center font-bold text-xl"></p>
      <BaseButton id="copy" text="Copy" fullWidth />
    </div>
  </div>
</Layout>
