---
import ArrowIcon from "../../public/icons/link-arrow.svg?raw";
interface Props {
  text: string;
  textColor?: string;
  id?: string;
  fullWidth?: boolean;
  arrow?: boolean;
  icon?: boolean;
}
const { text, textColor, id, fullWidth, arrow, icon } = Astro.props;
---

<button
  class="bg-[#444444] text-white px-8 py-3 rounded-xl text-lg cursor-pointer hover:scale-105 transition-transform flex justify-center items-center gap-2"
  id={id}
  class:list={[
    {
      "w-full": fullWidth,
      "text-[#FF4747]": textColor === "red",
      "text-[#00FF29]": textColor === "green",
    },
  ]}
>
  <slot name="before-icon" />
  <span
    class="font-medium"
    class:list={[
      {
        "w-full": fullWidth && !icon,
        "text-[#FF4747]": textColor === "red",
        "text-[#00FF29]": textColor === "green",
      },
    ]}>{text}</span
  >
  <slot name="after-icon" />
  {
    arrow ? (
      <div class="rotate-[39.81deg]">
        <Fragment set:html={ArrowIcon} />
      </div>
    ) : null
  }
</button>
