---
import ArrowIcon from "../../public/icons/link-arrow.svg?raw";
interface Props {
  text: string;
  id?: string;
  fullWidth?: boolean;
  arrow?: boolean;
}
const { text, id, fullWidth, arrow } = Astro.props;
---

<button
  class="bg-[#444444] text-white px-6 py-3 rounded-xl text-lg hover:scale-105 transition-transform"
  id={id}
  class:list={[
    { "w-full": fullWidth, "flex justify-between items-center gap-4": arrow },
  ]}
>
  <span class="font-medium">{text}</span>
  {
    arrow ? (
      <div class="rotate-[39.81deg]">
        <Fragment set:html={ArrowIcon} />
      </div>
    ) : null
  }
</button>
