---

---

<div
  class="p-8 bg-opacity-60 bg-gradient-to-b from-[#252525] to-[#1B1B1B] rounded-[3rem] relative"
>
  <div
    class="absolute -inset-[1px] bg-gradient-to-b from-white to-[#ffffff66] rounded-[3rem] -z-10 p-2 opacity-30"
    style="pointer-events: none;"
  >
  </div>
  <slot />
</div>
